doctype
html(lang='ko')
  head
    meta(charset='utf-8')
    title noom
    link(rel="stylesheet", href="https://unpkg.com/mvp.css", attr)
  body
    header
      h1 noom project
    main
      h2 welcome to noom 
      button test
    script(src='/public/js/app.js')